body{
    background-color: #023047;
}
.container-fluid{
    padding: 1rem;
}
.card{
    background-color: white;
    height: 450px;
    width: 400px;
    padding: 1rem;
}

h1{
    margin-bottom: -4px;
    color: white;
}

.profile_img{
    border-radius: 100%;
    width: 35%;
    margin-right: -5rem;
}

.main_img{
    height: 220px;
    width: 100%;
    padding-top: 1rem;
}
.data{
    font-size: x-small;
}
.testo, .bottoni{
    padding-top: 0.5rem;
}
.likes_0:hover, .likes_1:hover{
    cursor: pointer;
}
.likes_0:active, .likes_1:active{
    color:cadetblue;
}
